<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vue Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:extra-light|Vast+Shadow" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/images/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/images/favicons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16.png">
    <link rel="apple-touch-icon" href="/images/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->
  </head>
  <body>
    <div id="app" class="full-container bg-dark">
      <div class="row px-1 py-3">
        <div class="col-7 col-sm-3 my-auto">
          <button class="btn btn-info" id="btnTrigger"> {{ $t("manual-search")}}</button>
        </div>
        <div class="col-5 pl-0 col-sm-3 offset-sm-6 my-auto">
          <select v-on:change="onChange" class="form-control" name="language" id="language">
            <option :value="null" disabled>None</option>
            <option value="en"> English</option>
            <option value="pt" selected> Português</option>
          </select>
        </div>
      </div>
      <div class="my-5 d-none" id="locationInput">
        <form v-on:submit.prevent="getData">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="input-group">
                <input type="text"
                       class="autocomplete form-control"
                       placeholder="City,Country code (eg: Dublin,IE)"
                       v-model="city">
                <div class="input-group-append">
                  <button class="btn btn-light button-for-submit" type="submit"> {{ $t("submit")}}</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-primary btn-block" type="submit" onClick="refreshPage()">
                    {{ $t("auto-detect")}}
                  </button>
                </div>
              </div>
              <p class="text-center"><i class="data-text"> {{ $t("detect-info")}}</i></p>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="location-box mx-1">
            <div class="row">
              <div class="col">
                <div class="alert alert-warning" v-show="loading">
                  {{ $t("loading")}}...
                </div>
              </div>
            </div>

            <div class="container-fluid">
              <div class="row">
                <div class="col-12 col-sm-8" id="city-info">&nbsp;</div>
                <div class="col-12 col-sm-4 my-auto">
                  <div class="photo-information py-auto my-auto">
                    <div class="text-center data-text">
                      <div class="row">
                        <div class="col-12 d-inline-block d-flex">
                          <h1 class="data-text-photo">{{city}} /</h1>
                          <h3 class="data-text-photo my-auto">{{country}}</h3>
                        </div>
                      </div>
                      <div class="container">
                        <div class="row">

                          <div class="col-5">
                            <span class="icons"><canvas id="icon1" width="120" height="90"></canvas></span>
                          </div>

                          <div class="col-7 my-auto">
                            <h3 class="data-text-photo">{{nowTemperature}} ºC</h3>
                          </div>

                          <div class="col-12">
                            <img src="./images/Thermometer-100.svg" class="info-icons"/>
                            <span class="data-text-photo">Máx: {{maxTemperature}} ºC</span>
                          </div>

                          <div class="col-12">
                            <img src="./images/Thermometer-Zero.svg" class="info-icons"/>
                            <span class="data-text-photo">Min: {{minTemperature}} ºC</span>
                          </div>

                          <div class="col-12">
                            <img src="./images/01.svg" class="info-icons"/>
                            <span class="data-text-photo font-weight-bold"> UV Index: {{uvIndex}} </span>
                          </div>

                          <div class="col-12">
                            <span class="data-text-photo font-weight-bold"> % Rain: {{rainProb}} ºC</span>
                          </div>

                          <div class="col-12">
                            <span class="data-text-photo"> Feels like: {{tempFeelsLike}} ºC</span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-2">
              <div class="col-12">
                <h4 class="data-text-photo font-weight-bold"> {{ $t("information")}} </h4>
                <p class="data-text-photo font-weight-light">{{description}}</p>
              </div>
              <div class="col-12">
                <h4 class="data-text-photo font-weight-bold"> {{ $t("day-summary")}}</h4>
                <i class="data-text-photo font-weight-light">{{daySummary}}</i>
              </div>
            </div>

            <div class="row">
              <div class="col-12 mt-4">
                <div class="mb-4">
                  <h4 class="data-text"> {{ $t("8-day-forecast") }} {{city}}</h4>
                  <i class="data-text font-italic">{{weekSummary}}</i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-4 my-2" v-for="forecast in forecasts">
                  <div class="card mb-3 h-100">
                    <div class="row no-gutters">
                      <div class="col-md-4 mt-2">
                        <img v-bind:src="forecast.dailyIcon" width="80" height="80"/>
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{forecast.dailyDateTime}}</h5>
                          <p class="card-text"> <span class="font-weight-bold">{{ $t("min-temp")}} </span>{{forecast.dailyTempMin}} ºC</p>
                          <p class="card-text"> <span class="font-weight-bold">{{ $t("max-temp")}}</span> {{forecast.dailyTempMax}} ºC</p>
                          <p class="card-text"> <span class="font-weight-bold">{{ $t("humidity")}} </span>~ {{forecast.dailyHumidity}} %</p>
                          <p class="card-text"> <span class="font-weight-bold">{{ $t("description")}}</span> {{forecast.dailySummary}} </p>
                          <p class="card-text">
                            <small class="text-muted"> {{ $t("last-update")}}</small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 graph-header">
                <div class="mt-3 pt-1">
                  <div class="row">
                    <div class="col-12 col-sm-4">
                      <img class="icon" src="images/humidity.svg">
                      <span class="data-text font-weight-bold">{{ $t("humidity")}}</span>
                      <span class="data-text font-weight-light">{{humidity}}</span>
                    </div>
                    <div class="col-12 col-sm-4">
                      <img class="icon" src="images/pressure.svg">
                      <span class="data-text font-weight-bold">{{ $t("pressure")}}</span>
                      <span class="data-text font-weight-light">{{pressure}}</span>
                    </div>
                    <div class="col-12 col-sm-4">
                      <img class="icon" src="images/wind.svg">
                      <span class="data-text font-weight-bold">{{ $t("wind")}}</span>
                      <span class="data-text font-weight-light">{{wind}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-3">
          <div class="graph">
            <div v-show="chart != null">
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="footer mt-3 text-center bg-white">
        <span>{{ $t("developed-by")}}<b> Alexandre Abreu</b> 2019</span>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <!--lodash cdn-->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="vueApp.js"></script>
    <script src="index.js"></script>
    <!-- animated icons for weather-->
    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
    <!-- Custom script to custom location fornm -->
    <script src="assets/js/showFormLocation.js"></script>
  </body>
</html>
