<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vue Weather App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:extra-light|Vast+Shadow" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- ****** faviconit.com favicons ****** -->
    <link rel="shortcut icon" href="/images/favicons/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/images/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/images/favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/images/favicons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/images/favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16.png">
    <link rel="apple-touch-icon" href="/images/favicons/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <!-- ****** faviconit.com favicons ****** -->
  </head>
  <body>
    <div id="app" class="full-container bg-dark">
      <div class="row">
        <div class="col-12 col-sm-2 offset-sm-9 mr-2">
          <label for="language"> Language: </label>
          <select v-on:change="onChange" class="form-control" name="language" id="language">
            <option :value="null" disabled>None</option>
            <option value="en"> English</option>
            <option value="pt" selected> Português</option>
          </select>
        </div>
      </div>

      <div class="my-5">
        <form v-on:submit.prevent="getData">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="input-group">
                <input type="text"
                       class="autocomplete form-control"
                       placeholder="City,Country code (eg: Dublin,IE)"
                       v-model="city">
                <div class="input-group-append">
                  <button class="btn btn-dark" type="submit"> {{ $t("submit")}}</button>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-primary btn-block" type="submit" onClick="refreshPage()">
                    {{ $t("auto-detect")}}
                  </button>
                </div>
              </div>
              <p class="text-center"><i class="data-text"> {{ $t("detect-info")}}</i></p>
            </div>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="m-2">
            <div class="alert alert-warning" v-show="loading">
              {{ $t("loading")}}...
            </div>
            <div class="city-container">
              <h4 class="data-text"> {{ $t("today") }}</h4>
              <i class="data-text"> {{nowDatetime}}</i>
            </div>
            <div class="row m-3 py-4" id="city-info">
              <div class="col-12 col-sm-4">
                <div class="text-center justify-content-center data-text">
                  <h2 class="data-text">{{city}} / {{country}}</h2>
                  <div class="m-2">
                    <figure class="icons">
                      <canvas id="icon1" width="128" height="128"></canvas>
                    </figure>
                    <br>
                    <b class="data-text">{{ $t("temperature-now")}} {{nowTemperature}} ºC</b>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="text-center">
                  <p><img src="./images/Thermometer-100.svg"/> <span class="data-text">Máx: {{maxTemperature}} ºC</span></p>
                  <p><img src="./images/Thermometer-Zero.svg"/> <span class="data-text">Min: {{minTemperature}} ºC</span></p>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="text-center">
                  <h4 class="data-text"> {{ $t("information")}} </h4>
                  <p class="data-text">{{description}}</p>
                  <br><br>
                  <h4 class="data-text"> {{ $t("additional-info") }} </h4>
                  <p class="data-text"> {{ $t("day-summary")}}</p>
                  <i class="data-text">{{daySummary}}</i>
                </div>

              </div>
            </div>
            <br>
            <br>

            <h4 class="data-text"> {{ $t("8-day-forecast") }} {{city}}</h4>

            <br>
            <p class="text-center data-text"> {{ $t("week-summary")}}</p>
            <i class="data-text">{{weekSummary}}</i>

            <!-- Cards (all week) -->
              <div class="row ml-2 mr-2">
                  <div class="card-deck">
                    <div class="col col-sm-6" v-for="forecast in forecasts">
                        <div class="card mb-3" style="max-width: 540px;">
                          <div class="row no-gutters">
                            <div class="col-md-4 mt-2">
                              <img v-bind:src="forecast.dailyIcon" width="80" height="80"/>
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">{{ $t("datetime")}} {{forecast.dailyDateTime}}</h5>
                                <p class="card-text"> {{ $t("min-temp")}}: {{forecast.dailyTempMin}} ºC</p>
                                <p class="card-text"> {{ $t("max-temp")}}: {{forecast.dailyTempMax}} ºC</p>
                                <p class="card-text"> {{ $t("humidity")}}: ~ {{forecast.dailyHumidity}} %</p>
                                <p class="card-text"> {{ $t("description")}}: {{forecast.dailySummary}} </p>
                                <p class="card-text">
                                  <small class="text-muted"> {{ $t("last-update")}}</small>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
              </div>


            <div class="row graph-header">
              <div class="col">
                <div class="mt-3 pt-1">
                  <img class="icon" src="images/humidity.svg">
                    <span class="data-text">
                      {{humidity}}
                    </span>
                  <img class="icon" src="images/pressure.svg">
                    <span class="data-text">
                      {{pressure}}
                    </span>
                  <img class="icon" src="images/wind.svg">
                    <span class="data-text">
                      {{wind}}
                    </span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="graph mt-3">
                <div v-show="chart != null">
                  <canvas id="myChart"></canvas>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <!--lodash cdn-->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script src="vueApp.js"></script>
    <script src="index.js"></script>
    <!-- animated icons for weather-->
    <script src="https://rawgithub.com/darkskyapp/skycons/master/skycons.js"></script>
  </body>
</html>
