*{
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
}

#weather {
    padding: 15px;
    vertical-align: middle;
    overflow: hidden;
  }

  .temperature {
    font-family: 'Vast Shadow', cursive;
    font-size: 40px;
    vertical-align: top;
    position: absolute;
    left: 80px;
  }

  #temp-values {
    text-align: right;
    text-justify: distribute;
    display: block;
    position: relative;
    top: -60px;
  }

  #info {
    padding-left: 20px;
    position: relative;
    top: -20px;
  }

  .icon {
    position: inherit;
    top: 2px;
    padding-left: 8px;
  }

input {
  padding:8px 20px;
  border-radius: 2px;
  border:0;
  font-size:20px;
}
.status-key,
.status-ajax {
  margin:10px 0;
}
.status-ajax {
  color:#99FF7E;
}

figure {
  margin: 2em auto;
  width: 300px;
  height: 100px;
}

#app{
  overflow-x: hidden;
}

.button-for-submit{
  border-color:black;
}

.graph {
  width: 100%;
  text-align:center;
  background-color: whitesmoke;
  background-position: center;
  opacity: 0.5
}

.data-text {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.33px;
}

.location-box {
  z-index: 1;
}

.location-box#city-info {
  height: 30rem;
  z-index: -1;
}

