
#weather {
    padding: 15px;
    vertical-align: middle;
  }
  
  .temperature {
    font-family: 'Vast Shadow', cursive;
    font-size: 40px;
    vertical-align: top;
    position: absolute;
    left: 80px;
  }
  
  #temp-values {
    text-align: right;
    text-justify: distribute;
    display: block;
    position: relative;
    top: -60px;
  }
  
  #info {
    padding-left: 20px;
    position: relative;
    top: -20px;
  }
  
  .icon {
    position: inherit;
    top: 2px;
    padding-left: 8px;
  }

input {
  padding:8px 20px;
  border-radius: 2px;
  border:0;
  font-size:20px;
}
.status-key,
.status-ajax {
  margin:10px 0;
}
.status-ajax {
  color:#99FF7E;
}

figure {
  margin: 2em auto;
  width: 300px;
  height: 100px;
}

.app{
  overflow-x: hidden;
  /* I’m taking lightgrey for the background, here
  background-color: rgba(211, 211, 211, 0.3);*/
}
