#weather {
    padding: 15px;
    vertical-align: middle;
  }
  
  .temperature {
    font-family: 'Vast Shadow', cursive;
    font-size: 40px;
    vertical-align: top;
    position: absolute;
    left: 80px;
  }
  
  #temp-values {
    text-align: right;
    text-justify: distribute;
    display: block;
    position: relative;
    top: -60px;
  }
  
  #info {
    padding-left: 20px;
    position: relative;
    top: -20px;
  }
  
  .icon {
    position: inherit;
    top: 2px;
    padding-left: 8px;
  }